@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
  }

  body {
    @apply m-auto max-w-6xl min-h-screen p-3 bg-mainbg text-deftext;
  }

  * {
    @apply p-0 m-0 box-border;
  }

  a {
    text-decoration: inherit;
    color: inherit;
  }
}

@layer components {
  .button-primary {
    min-width: 40px;
    @apply bg-theme-color px-3 py-2 rounded-lg mx-2;
  }
  .button-secondary {
    min-width: 40px;
    @apply bg-transparent border border-theme-color px-3 py-2 rounded-lg mx-2;
  }
  .button-disabled {
    @apply opacity-25;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}