@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
  }

  body {
    @apply m-auto max-w-6xl min-h-screen p-3 bg-mainbg text-deftext;
  }

  * {
    @apply p-0 m-0 box-border;
  }

  a {
    text-decoration: inherit;
    color: inherit;
  }
}
